.nav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 40px;
  z-index: 10;
  display: flex;
  align-items: center;

  &.fixed {
    background-color: black;
  }
}

.nav img {
  width: 100px;
}

.nav ul {
  padding-left: 20px;
  display: flex;
  gap: 20px;
}

.nav ul li {
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
  color: white;
}

.active {
  color: white;
}

.noActive {
  color: #b3b3b3;
}
